{{ container_or_service.name }} ({{ container_or_service.get_image_name() }}:{{ container_or_service.get_tag() }}) updated from {{ container_or_service.get_current_id() }} to {{ container_or_service.get_latest_id() }}